bin/
obj/
*.user
*.DotSettings.user
.vs/
.idea/
*.suo
*.userosscache
*.sln.docstates
*.nupkg
*.snupkg
*.nuspec
*.log
*.mdf
*.ldf
appsettings.Development.json
Migrations/*Designer.cs
Migrations/*Snapshot.cs
Thumbs.db
.DS_Store
publish/
TestResults/